@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border rounded-xl px-5 py-1
  }
}

body {
  background-color: #ffd700;
}

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "NotoColorEmoji";
  src: local("NotoColorEmoji"),
  url("./fonts/NotoColorEmoji.ttf");
  }

  #flags {
    font-family: 'NotoColorEmoji';
  }  

div {
  font-family: BlinkMacSystemFont, 
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol';
}